@import "../variables";
.button {
	text-decoration: none;
	font-weight: 900;
	font-size: 16px;
	margin: 1em;
	padding: 0.75em 1em;
	border-radius: 5px;
}

.yellowButton {
	background-color: $yellow;
	color: $black;
}

.blackButton {
	background-color: $black;
	color: $textGrey
}

.greyButton {
	background-color: $grey;
	color: $textGrey
}