@import "../variables";

.dropdown {
	cursor: pointer;
	display: inline-block;
	background-color: $grey;
	margin: 0.1em 0.1em 0.1em 0.6em;
	border-radius: 5px;


	.dropdown-top {
		padding: 0.6em;
		position: relative;

		.dropdown-selected {
			display: inline-block;
			margin-right: 1.1em;
		}

		.dropdown-icon {
			display: inline-block;
			position: absolute;
			right: 0.5em;
		}
	}

	.dropdown-menu {
		clear: left;
		position: relative;


		.dropdown-content {
			overflow-y: hidden;
			max-height: 0;
			position: absolute;
			min-width: 100%;
			z-index: 20;

			.dropdown-wrapper {
				max-height: 25em;
				overflow-y: auto;
				border-color: $darkBlack;
				border-style: solid;
				border-width: 1px;
				border-radius: 0 0 5px 5px;

				padding: 0.1em;
				background-color: $grey;

				.dropdown-item {
					display: block;
					clear: left;
					padding: 0.1em;
				}
			}
		}
	}
}

.dropdown.is-open {
	border-radius: 5px 5px 0 0;
}

.is-open {
	.dropdown-menu {
		.dropdown-content {
			max-height: fit-content;
		}
	}
}