@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/level.sass";

$body-background-color: #EAEAEA;

.mycard {
	float:left;
	margin: 1em;
	flex-grow: 1;
	flex-basis: 0;
	flex-shrink: 1;
}

.card-image {
	figure {
		min-width: 20em;
		img {
			display: block;
			margin: auto;
			max-width: 20em;
		}
	}
}