@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$yellow: #FECB4D;
$black: #191B1F;
$grey: #2C2F36;
$textGrey: #DADADA;
$textOffGrey: #767B85;
$footerHeight: 20em;
$containerWidth: 60%;

html,
body {
	overflow-y: auto;
	background-color: $grey;
	color: $textGrey;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}


.discrim {
	color: $textOffGrey;
}


.container {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 60% 1fr;
	grid-template-rows: 5em auto $footerHeight;
	grid-template-areas: "header header header" ". main ." "footer footer footer";
	position: relative;

	.navbar {
		grid-area: header;

		position: sticky;
		top: 0;
		background-color: $black;
		padding: 1em 1em 0.75em 1em;
		margin: 0;
		z-index: 100;

		.navcontainer {
			margin: auto;
			width: $containerWidth;
			height: 100%;
			display: table;


			.logo {
				float: left;
				display: inline-block;
				font-size: 24px;

				line-height: 48px;

				.logoImage {
					float: left;
					height: 1.5em;
					margin-right: 0.15em;
					margin-top: 5px;
				}

				.logoText {
					color: $yellow;

				}
			}

			.navmiddle {
				float: left;
				line-height: 3em;
			}

			.navbar-item {
				margin-left: 2em;
				color: $textGrey;
				font-weight: 500;
				font-size: 16px;
				height: 100%;

			}

			.navbar-item:hover {
				color: $yellow;
				text-decoration: underline;
			}

			.navright {
				float: right;
				line-height: 3em;

				.userHolder {
					display: inline-block;
					line-height: 2.2em;
					font-weight: 500;
					font-size: 16px;

					.userImage {
						float: left;
						border-radius: 50%;
						height: 2em;
						margin-right: 0.5em;
					}
				}
			}
		}

		a {
			text-decoration: none;
		}


	}

	.page {
		position: relative;
		grid-area: main;
	}

	.footer {
		grid-area: footer;
		display: grid;

		grid-template-columns: 1fr 60% 1fr;
		grid-template-rows: auto;
		grid-template-areas: ". footercontent .";

		height: $footerHeight;
		background-color: $black;
		bottom: 0;
		position: absolute;
		width: 100%;

		font-size: 14px;

		.footerContainer {
			grid-area: footercontent;
			margin: 2.3em auto auto;
			width: 100%;
			min-height: 0;
		}

		h1 {
			color: $yellow;
			font-size: 16px;
			margin: 0;
		}

		a {
			text-decoration: none;
			color: $textGrey;
			display: block;
			padding-top: 1.15em;
		}

		a:hover {
			color: $yellow;
			text-decoration: underline;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.logo {
			height: 80px;
		}

		.copyright {
			padding-top: 3em;
		}

		.socials {
			padding-top: 6em;

			a {
				padding: 0.25em;
				display: inline-block;
				float: right;

				img {
					height: 25px;
				}
			}
		}
	}
}

.statsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	grid-gap: 3em;


	.row {
		.card {
			margin: 1em 0;
			padding: 1em;
			background-color: $black;
			border-radius: 5px;

			.statHeader {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 1em;
			}
		}
	}
}

h2 {
	color: $yellow;
	font-size: 24px;
}

.cardgrid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	grid-auto-flow: dense;
}

.cardgridlogs {


	.card {
		height: fit-content;

		.card-header {
			padding: 1em;
		}
	}
}

.mycard {
	//float: left;
	margin: 1em;

	border: 0.25em solid var(--border-color);
	border-radius: 1em;


	.card-header {
		border-bottom: 0.25em solid var(--border-color);
		box-shadow: none;
	}
}

.card-image {
	figure {
		margin: auto;

		img, svg {
			display: block;
			height: 100%;
			border-radius: 50%;
			margin: 0.1em auto auto;
		}
	}
}

.serverImage {
	border-radius: 50%;
	height: 2em;
	vertical-align: text-bottom;
}

.serverTitle {
	text-align: center;

	image, svg {
		border-radius: 50%;
		height: 2em !important;
		vertical-align: text-bottom;
	}
}

.tabs {
	display: inline-flex;
	margin: auto;
}

.flexcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.flexitem {
	flex-grow: 0;
}

.flexitem2 {
	flex-grow: 10;
	width: 100%
}

.roleMarker {
	width: 1.4em;
	height: 1.4em;
	border-radius: 50%;
	float: left;
	margin-right: 0.6em;
}

.roleLevel {
	padding: 0.15em 1em;
	border-radius: 1.5em;
}

.mytitle {
	font-size: 1.75rem;
	margin-top: 1em;
}

.helpbutton {
	border-radius: 50%;
	margin-left: 0.2em;
	display: inline-block;

}

.helpholder {
	margin-left: 0.5rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
}

.helpcontent {
	display: none;
}

.helpholder:hover {
	.helpcontent {
		position: fixed;
		padding: 0.7em;
		border-radius: 5%;
		background-color: hsla(0, 0%, 20%, 0.7);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		display: inline-block;
		margin-left: 0.5em;
		z-index: 5;
		width: fit-content;
		font-weight: normal;
		max-width: 50em;

	}
}

.sliding {
	animation: slide-down 0.4s ease;
}

.loadingcontainer {
	background: rgba(1, 1, 1, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;

	.loading {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		z-index: 10;

		.gear {
			position: relative;
			z-index: 11;
			-webkit-animation: spin 6s linear infinite;
			-moz-animation: spin 6s linear infinite;
			animation: spin 6s linear infinite;
		}

		.loadingtext {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			z-index: 12;
			color: black;
		}
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.uptime {
	display: inline-block;
	padding-right: 0.5em;
}

.box-item {
	margin: 0.4em;
	padding: 0.25em;
	border: 0.25em solid var(--border-color);
	border-radius: 1em;
	background: rgba(1, 1, 1, 0.2);
}

.centered {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
}

.inf_table {
	overflow-wrap: break-word;
	width: 100%;

	thead {
		th {
			position: sticky;
			top: 0;
			color: var(--header-color);
		}
	}

	td {
		max-width: 28em;
	}

	tr {
		border-bottom: 1px solid black;
		max-width: 100%;

		th {
			text-align: center;
			padding: 0.25em;
			cursor: pointer;
			background-color: rgba(1, 1, 1, 0.80);
			min-width: 5em;
		}


	}

	tr:hover td {
		background-color: var(--nav-item-hover-background)
	}

	tr:nth-child(2n + 1) {
		background-color: rgba(1, 1, 1, 0.15)
	}

	tr:last-child {
		border-bottom: 0;
	}

	td {
		padding: 0.5em 1em;
	}
}

* {
	scrollbar-color: rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.30);
	scrollbar-width: thin;

	::-webkit-scrollbar {
		width: 14px;
		height: 18px;
	}

	::-webkit-scrollbar-thumb {
		height: 6px;
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		-webkit-border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.30), inset 1px 1px 0px rgba(0, 0, 0, 0.30);
	}

	::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		display: none;
	}

	::-webkit-scrollbar-corner {
		background-color: transparent;
	}

}

.filter {
	margin: 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.2);
}

.small-input {
	min-width: 6em;
	width: auto;
}