$yellow: #FECB4D;
$black: #191B1F;
$darkBlack: #0F1012;
$grey: #2C2F36;
$textGrey: #DADADA;
$textOffGrey: #767B85;
$backgroundInfractions: #23252b;
$infreactionReasonColor: #b3b3b4;
$footerHeight: 20em;
$containerWidth: 60%;
$carouselExtra: 5em;